body {
    font-family: sans-serif;
    color: rgb(225, 225, 225); 
    background-color: rgb(26, 26, 26);
}

.link {
    display:inline-block;
    font-size: clamp(75%, 2vw, 125%);
}

.title {
    font-size: clamp(125%, 2vw, 250%);
    text-align: center;
}

.header {
    text-align: center;
    font-size: clamp(75%, 1vw, 125%);
}
.preview {
    display:inline-block;
    padding: 2%;
    width: clamp(30%, 1vw, 100%);
}

.preview-text {
    text-align: center;
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.subContainer {
    display: flex;
    justify-content:space-around;
    font-size: clamp(25%, 2.5vw, 150%);
}
.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

a:visited {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: underline;
}

a:link {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    color: rgb(100, 100, 100);
    background-color: transparent;
    text-decoration: underline;
  }