body {
    font-family: sans-serif;
    color:rgb(255, 255, 255);
}

.title {
    font-size: clamp(175%, 2vw, 250%);
    text-align: center;
    text-shadow: 3px 3px 7px black;
}

.body_content {
    z-index: 2;
    position: absolute;
    top:0%;
    left:0%;
    right:0%;
    bottom:0%;
}

.info {
    text-align: center;
    font-size: clamp(75%, 1vw, 100%);
    text-shadow: 3px 3px 7px black;
    padding: 5%;
}

.subheader {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    font-size: 2vh;
    text-shadow: 3px 3px 7px black;
}

.preview {
    display:inline-block;
    padding: 0%;
    width: clamp(90%, 1vw, 100%);
}

.preview-text {
    text-align: center;
    text-shadow: 2px 2px 4px black;
    font-size: 125%;
}

.imageContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.subContainer {
    display: flex;
    justify-content:space-around;
    font-size: clamp(25%, 2.5vw, 150%);
}
.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

a:visited {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: underline;
}

a:link {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    color: rgb(100, 100, 100);
    background-color: transparent;
    text-decoration: underline;
  }